{% extends 'base.html'%}


{% block body %}
<style>
body {
  background-image: url("{{ url_for('static', filename='images/background.png') }}");
  background-size: cover;
  min-height: 100vh;
}

</style>

<div class="container">
  <div class="block d-none d-lg-block"></div>
  <div class="row box mt-5">
    <div class="col-md-12 col-lg-6 d-block mt-5">
      <h1 class='text-center'>Welcome on our page.</h1>
      <h1 class='text-center'>Fill up this form to log in.</h1>
    </div>
    <div class="form-custom col-md-12 col-lg-6 d-flex justify-content-center">

      <form class='col-md-12 col-lg-8' method='POST'>
          {% if error %}
          <div class="alert alert-danger mt-3">{{ error }}</div>
          {% endif %}
          {% if msg %}
          <div class="alert alert-success mt-3">{{ msg }}</div>
          {% endif %}
        <div class="mb-3 mt-5">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name='email' aria-describedby="emailHelp">
        </div>
        <div class="mb-5">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class='d-flex justify-content-end'>
          <button type="submit" class="btn btn-primary col-12">Submit</button>
        </div>
        <div class="m-3 d-flex justify-content-end">
          <label class="form-label" for="exampleCheck1">Still don't have accoun?</label>
					<a href="{{ url_for('registration') }}">Register now.</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
